@model SaborDeMexicoAdmin.Models.Orden

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Orden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ordencol" class="control-label"></label>
                <input asp-for="Ordencol" class="form-control" />
                <span asp-validation-for="Ordencol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activo" class="control-label"></label>
                <input asp-for="Activo" class="form-control" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifcado" class="control-label"></label>
                <input asp-for="Modifcado" class="form-control" />
                <span asp-validation-for="Modifcado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoEnvio" class="control-label"></label>
                <input asp-for="CostoEnvio" class="form-control" />
                <span asp-validation-for="CostoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPago" class="control-label"></label>
                <input asp-for="TipoPago" class="form-control" />
                <span asp-validation-for="TipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RutaId" class="control-label"></label>
                <select asp-for="RutaId" class="form-control" asp-items="ViewBag.RutaId"></select>
                <span asp-validation-for="RutaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepartidorId" class="control-label"></label>
                <select asp-for="RepartidorId" class="form-control" asp-items="ViewBag.RepartidorId"></select>
                <span asp-validation-for="RepartidorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
